.headsman {
	height: 78px;
	background-color: #cde;
}

.headsman a:link {
	color: #333;
	text-decoration: none;
}
.headsman a:visited {
	color: #333;
	text-decoration: none;
}
.headsman a:hover {
	color: #EA870F;
	text-decoration: none;
}
.headsman a:active {
	color: #999;
	text-decoration: none;
}

.bannerName {
	font-family: 'Fredoka One', cursive;
}

.bannerInfo {
	font-family: 'Fredoka One', cursive;
	text-align: right;
}

.homeName {
	font-family: 'Fredoka One', cursive;
	font-size: 140px;
	height: 175px;
	color: #EA870F;
	margin-top: 100px;
}
.homeText {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 20px;
}
.homeBtn {
	font-size: 20px;
	margin-bottom: 4px;
	padding: 3px 6px;
	background-color: #cde;
	color: #333;
}
.homeBtn:hover {
	color: #ea870f;
}
.activeHomeBtn {
	font-size: 20px;
	margin-bottom: 4px;
	padding: 2px 5px;
	background-color: #cde;
	border: 2px solid #333;
	color: #ea870f;
}
.activeHomeBtn a:link {
	color: #ea870f;
	text-decoration: none;
}
.activeHomeBtn a:visited {
	color: #ea870f;
	text-decoration: none;
}
.activeHomeBtn a:hover {
	color: #ea870f;
	text-decoration: none;
}
.activeHomeBtn a:active {
	color: #ea870f;
	text-decoration: none;
}
.btn a:link {
	color: #333;
	text-decoration: none;
}
.btn a:visited {
	color: #333;
	text-decoration: none;
}
.btn a:hover {
	color: #EA870F;
	text-decoration: none;
}
.btn a:active {
	color: #999;
	text-decoration: none;
}

.navBar {
	margin-top: 15px;
	height: 75px;
}

.thumb {
	height: 140px;
	float: left;
	margin-right: 10px;
	width: 100px;
}

.projectRow {
	margin-bottom: 20px;
}

.projectEntry {
	height: 150px;
	padding: 5px;
	color: black;
}
.projectEntry:hover {
	color: white;
	background-color: #ea870f;
}
.listProjectName {
	margin-bottom: 0px;
	font-family: 'Fredoka One', sans-serif;
	font-style: bold;
	font-size: 24px;
}
.listProjectDate {
	font-family: 'Montserrat Alternates', sans-serif;
	font-style: italic;
}
.listProjectBlurb {
	font-family: 'Montserrat Alternates', sans-serif;
	margin: 0px;
}

.mainImage{
	
	max-height: 500px;
	max-width: 330px;
}

.projectTitle {
	font-family: 'Fredoka One', sans-serif;
	font-size: 50px;
	margin: 0px;
}
.projectSub {
	font-family: 'Montserrat Alternates', sans-serif;
	font-style: italic;
	font-size: 20px;
}
.tickerImages {
	max-width: 100px;
	max-height: 100px;
	display: inline;
	margin: 10px 10px 20px 10px;
	cursor: pointer;
}
.projectDesc {
	font-family: 'Montserrat Alternates', sans-serif;
	margin-bottom: 15px;
}
.projectLink {
	font-family: 'Montserrat Alternates', sans-serif;
	margin: 0px;
}


