<div class="container">

	<div class="row navBar">

		<div class="col-md-3 homeText text-center">
			<span>I write</span>
			<a href="#/code" class="btn homeBtn">code.</a>
		</div>
		<div class="col-md-3 homeText text-center">
			<span>I</span>
			<a href="#/design" class="btn homeBtn">design</a>
			<span>things.</span>
		</div>
		<div class="col-md-3 homeText text-center">
			<span>I make</span>
			<a href="#/games" class="btn homeBtn">games.</a>
		</div>
		<div class="col-md-3 homeText text-center">
			<span>I do</span>
			<a href="#/other" class="btn activeHomeBtn">other stuff</a>
			<span>too.</span>
		</div>

	</div>

</div>
